@import "tailwindcss";

@theme {
    --font-poppins: var(--font-poppins);
    --default-transition-duration: 500ms;

    --color-orange-500: #FD7E14;
    --color-gray-500: #F8F9FA;
}

html{
   @apply scroll-smooth;
}

* {
    @apply outline-none;
}

body {
    @apply font-poppins leading-normal;
}

button {
    @apply cursor-pointer;
}

.container {
    @apply max-w-330 w-full mx-auto px-5;
}

.primary-btn {
    @apply transition-all h-15 flex items-center justify-center w-fit px-4 lg:px-10 rounded-xl bg-black text-white text-base lg:text-xl font-bold hover:bg-orange-500 hover:text-white;
}

.primary-btn.secondary {
    @apply bg-orange-500 text-white hover:bg-black hover:text-white;
}